In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
df1 = pd.read_excel('CianDataset2020.xlsx')

### check

In [3]:
# df1.columns

In [4]:
# df1.loc[df1['District1'] == df1['District2'], ]

In [5]:
cols = df1.columns.tolist()
cols = cols[1:] + [cols[0]]
df1 = df1[cols]

In [6]:
df1 = df1.drop( ['date_saved', 'District2', 'ad_breadCrumbs', 'ad_change_time'],1)

In [7]:
np.unique(df1['ad_objectType'])

array(['flat_new', 'flat_new_dev', 'flat_old'], dtype=object)

In [8]:
# ad_objectType 
# flat_new == Новостройка
# flat_new_dev == Новостройка Апартаменты
# flat_old == Вторичка

In [9]:
df1.loc[df1['ad_objectType'] == 'flat_new', df1.columns[-1]]

76       https://www.cian.ru/sale/flat/150325059/
124      https://www.cian.ru/sale/flat/152181072/
338      https://www.cian.ru/sale/flat/162998989/
370      https://www.cian.ru/sale/flat/164418003/
387      https://www.cian.ru/sale/flat/165390430/
                           ...
51528    https://www.cian.ru/sale/flat/230753275/
51531    https://www.cian.ru/sale/flat/230753304/
51533    https://www.cian.ru/sale/flat/230753440/
51534    https://www.cian.ru/sale/flat/230753455/
51535    https://www.cian.ru/sale/flat/230754217/
Name: url, Length: 3029, dtype: object

In [10]:
# df1 = df1.loc[df1['ad_objectType'] != 'flat_new_dev', ].copy()

In [11]:
df1 = df1.drop( ['ad_offerPhone'],1)
df1 = df1.loc[~df1['ad_price'].isna(), ]

### currency

In [12]:
df1.groupby('ad_price_cur').count()

,District1,ad_objectType,ad_price,ad_stat_daily,ad_stat_total,agent_accountType,agent_isCianPartner,agent_isDeveloper,agent_isPrivateBroker,agent_isPro,...,offer_status,offer_title,offer_totalArea,offer_valueAddedServices_isColorized,offer_valueAddedServices_isPaid,offer_valueAddedServices_isPremium,offer_valueAddedServices_isTop3,offer_wcType,offer_windowsViewType,url
ad_price_cur,,,,,,,,,,,,,,,,,,,,,
eur,52,52,52,51,51,48,52,48,48,52,...,52,2,52,52,52,52,52,0,33,52
rur,50245,50251,50251,50180,50180,46201,49825,46201,46201,49825,...,50251,2111,50251,50251,50251,50251,50251,98,35224,50251
usd,1145,1145,1145,1144,1144,1122,1135,1122,1122,1135,...,1145,12,1145,1145,1145,1145,1145,0,644,1145

In [13]:
# np.unique(df1.loc[df1['ad_price_cur'] == 'usd', 'ad_price'])

In [14]:
# df1.loc[df1['ad_price_cur'] == 'eur', 'District1':'ad_price_cur'].groupby('ad_price').count()

In [15]:
pd.pivot_table(df1[['District1', 'ad_price_cur', 'ad_price']], index='District1', columns='ad_price_cur', aggfunc='count')

             ad_price
ad_price_cur      eur     rur    usd
District1
ВАО               2.0  2904.0    NaN
ЗАО              18.0  7260.0  208.0
ЗелАО             NaN   417.0    NaN
НАО               NaN  5362.0    NaN
САО               2.0  5337.0   22.0
СВАО              2.0  4231.0    6.0
СЗАО              NaN  3144.0    6.0
ТАО               NaN   437.0    NaN
ЦАО              23.0  7654.0  895.0
ЮАО               5.0  4847.0    1.0
ЮВАО              NaN  4760.0    NaN
ЮЗАО              NaN  3892.0    7.0

In [16]:
# 80000 * 620585000/8750000
# 132000 * 620585000/8750000
dol = 620585000/8750000 # курс дол циана на 26.05

In [17]:
evr = round(194491249/2500000,3) # курс евр циана на 26.05
evr * 210000
[dol,evr]

[70.924, 77.796]

In [18]:
df1 = df1.loc[df1['ad_price'] != 950, ].copy()

In [19]:
df2 = df1.loc[df1['ad_price_cur'] == 'eur', ]['ad_price'] * evr
df1.loc[df1['ad_price_cur'] == 'eur', 'ad_price'] = df2

In [20]:
# df2 = df1.loc[df1['ad_price_cur'] == 'eur', ]['ad_price'] * evr
df1.loc[df1['ad_price_cur'] == 'usd', 'ad_price'] = df1.loc[df1['ad_price_cur'] == 'usd', ]['ad_price'] * dol

In [21]:
df1.loc[df1['ad_price_cur'] == 'eur', df1.columns[[2,-1]]].sort_values('ad_price').head()

         ad_price                                       url
1175   12213972.0  https://www.cian.ru/sale/flat/195454099/
13567  12447360.0  https://www.cian.ru/sale/flat/223966179/
7116   15559200.0  https://www.cian.ru/sale/flat/219024796/
12019  15753690.0  https://www.cian.ru/sale/flat/223070390/
21348  16337160.0  https://www.cian.ru/sale/flat/226332281/

In [22]:
df1.loc[df1['ad_price_cur'] == 'usd', df1.columns[[2,-1]]].sort_values('ad_price')

           ad_price                                       url
6766   5.673920e+06  https://www.cian.ru/sale/flat/218660761/
47406  6.028540e+06  https://www.cian.ru/sale/flat/230251531/
33168  9.361968e+06  https://www.cian.ru/sale/flat/228345561/
6016   9.929360e+06  https://www.cian.ru/sale/flat/217246366/
501    9.929360e+06  https://www.cian.ru/sale/flat/169623858/
...             ...                                       ...
38222  4.441431e+08  https://www.cian.ru/sale/flat/228934440/
38996  5.319300e+08  https://www.cian.ru/sale/flat/229013276/
6716   5.872507e+08  https://www.cian.ru/sale/flat/218581816/
1808   5.872507e+08  https://www.cian.ru/sale/flat/200381377/
37912  6.205850e+08  https://www.cian.ru/sale/flat/228910698/

[1144 rows x 2 columns]

In [23]:
df1['pegged_to_cur'] = df1['ad_price_cur'].replace('rur', 0).replace('usd',1).replace('eur',1)

### drop everything

In [24]:
df1 = df1.drop(['ad_price_cur','ad_stat_daily','ad_stat_total','agent_accountType',
       'agent_isCianPartner', 'agent_isDeveloper', 'agent_isPrivateBroker',
       'agent_isPro', 'agent_isRecidivist', 'agent_isSelfEmployed',
       'agent_isSubAgent', 'agent_isUserOffersHasErrors', 'agent_offersCount',
       'agent_userTrustLevel', 'agent_userType'],1)

In [25]:
df1 = df1.drop(['bti_district_priceSqmDiff'],1)

In [26]:
np.unique(df1['bti_district_regionTitle'].dropna())

array(['Москва', 'Московская область'], dtype=object)

In [27]:
df1 = df1.drop(['bti_district_regionTitle'],1)

In [28]:
df1 = df1.drop(['bti_district_roomRentPriceDiff', 'bti_district_roomSalePrice',
       'bti_district_roomSalePriceDiff'],1)

In [29]:
df1 = df1.drop(['bti_house_demolishedInMoscowProgramm','bti_house_houseGasSupplyType', 'bti_house_houseHeatSupplyType',  'bti_house_houseOverhaulFundType' ],1)

In [30]:
# df1 = df1.drop(['bti_house_entrances','bti_house_flatCount', 'bti_house_houseOverlap',  'bti_house_houseOverhaulFundType' ],1)

In [31]:
# df1.columns[:20] 
# df1.columns

In [32]:
pd.pivot_table(df1.loc[df1['District1'].isin(['ЮАО', 'САО', 'ЦАО']),['District1', 'ad_price', 'bti_house_houseMaterialType','bti_house_houseOverlapType']], index='bti_house_houseMaterialType', columns=['District1','bti_house_houseOverlapType'], aggfunc='count', dropna=True)

                            ad_price                                     \
District1                        САО                                ЦАО
bti_house_houseOverlapType  concrete mixed other unknown  wood concrete
bti_house_houseMaterialType
block                          208.0   NaN   3.0     NaN   NaN    152.0
brick                          815.0  32.0   1.0     6.0  32.0   1635.0
monolith                      1092.0   4.0  13.0   275.0   NaN   1256.0
none                           373.0  10.0   1.0  1400.0   NaN    189.0
panel                          706.0   2.0   NaN     8.0   NaN    151.0
wood                             NaN   NaN   NaN     NaN   NaN      2.0

                                                                               \
District1                                                    ЮАО
bti_house_houseOverlapType   mixed other unknown   wood concrete mixed  other
bti_house_houseMaterialType
block                          5.0   NaN     5.0    7.0    484.0   NaN    NaN
brick                        316.0  20.0   187.0  623.0    242.0  10.0    7.0
monolith                       5.0  12.0  1054.0   14.0    661.0   NaN   26.0
none                           6.0   9.0  2394.0   11.0     57.0  11.0  249.0
panel                         40.0   NaN     3.0   14.0   1481.0   NaN    9.0
wood                           NaN   NaN     NaN    NaN      NaN   NaN    NaN


District1
bti_house_houseOverlapType  unknown wood
bti_house_houseMaterialType
block                           1.0  NaN
brick                           NaN  4.0
monolith                       99.0  NaN
none                         1163.0  NaN
panel                          12.0  NaN
wood                            NaN  NaN

In [33]:
df1 = df1.drop(['bti_house_isEmergency'],1)

In [34]:
# df1[['ad_price','bti_house_priceCianMin']]

In [35]:
[sum(df1['ad_price']-df1['bti_house_priceCian']>0),
sum(df1['ad_price']-df1['bti_house_priceCian']<0)]

[29491, 7180]

In [36]:
df1 = df1.drop(['bti_house_priceSqm', 'bti_house_priceCianMax',
       'bti_house_priceCianMin', 'bti_house_priceSqm',
       'bti_house_priceSqmDiff', 'bti_house_roomRentPrice',
       'bti_house_roomRentPriceDiff', 'bti_house_seriesName'],1)

In [37]:
df1[['ad_price','bti_house_priceCian', 'demandJsonQuery_price_gte',
       'demandJsonQuery_price_lte']]

,ad_price,bti_house_priceCian,demandJsonQuery_price_gte,demandJsonQuery_price_lte
0,18800000.0,16280000.0,16920000.0,20680000.0
1,50000000.0,64650000.0,45000000.0,55000000.0
2,55000000.0,NaN,49500000.0,60500000.0
5,42000000.0,NaN,37800000.0,46200000.0
6,9000000.0,7950000.0,8100000.0,9900000.0
...,...,...,...,...
51585,7850000.0,7480000.0,7065000.0,8635000.0
51586,32500000.0,24840000.0,29250000.0,35750000.0
51587,90428100.0,46980000.0,1147500.0,1402500.0
51588,33500000.0,35890000.0,30150000.0,36850000.0
51589,141848000.0,88020000.0,1800000.0,2200000.0

In [38]:
df1 = df1.drop(['company_newobjectsCount', 'company_offersCount',
       'company_yearFoundation', 'demandJsonQuery_price_gte',
       'demandJsonQuery_price_lte'],1)

In [39]:
df1 = df1.drop(['newObject_stats_done', 'newObject_stats_progress'],1)

In [40]:
df1.groupby('newObject_status').count().iloc[:,:1].head(10)

                                  District1
newObject_status
Сдан                                  11284
Сдача в 1 кв. 2021                      298
Сдача в 1 кв. 2021, есть сданные        672
Сдача в 1 кв. 2022                       80
Сдача в 1 кв. 2022, есть сданные         70
Сдача в 1—2 кв. 2021                     68
Сдача в 1—2 кв. 2022                     13
Сдача в 1—3 кв. 2021                     54
Сдача в 2 кв. 2020                      398
Сдача в 2 кв. 2020, есть сданные       1246

In [41]:
df3 = pd.pivot_table(df1[['District1', 'newObject_status', 'ad_price']], index='District1', columns='newObject_status', aggfunc='count')

In [42]:
df3['Не сдан'] = df3.iloc[:,1:].sum(1)

In [43]:
df3.iloc[:,[0,-1]]

                 ad_price Не сдан
newObject_status     Сдан
District1
ВАО                 242.0   298.0
ЗАО                2526.0  1428.0
ЗелАО                99.0     0.0
НАО                 732.0  3528.0
САО                1426.0  1318.0
СВАО                488.0  1159.0
СЗАО                796.0   809.0
ТАО                 127.0    48.0
ЦАО                3178.0  1331.0
ЮАО                 541.0  1261.0
ЮВАО                358.0  1594.0
ЮЗАО                771.0   291.0

In [44]:
arr = ['offer_archivedDate', 'offer_bargainTerms_agentBonus_currency',
       'offer_bargainTerms_agentBonus_paymentType',
       'offer_bargainTerms_agentBonus_value', 'offer_bargainTerms_currency',
       'offer_bargainTerms_deposit', 'offer_bargainTerms_depositPrices_eur',
       'offer_bargainTerms_depositPrices_rur',
       'offer_bargainTerms_depositPrices_usd']
df1 = df1.drop(arr,1)

In [45]:
arr = ['offer_bargainTerms_leaseTermType']
df1 = df1.drop(arr,1)

In [46]:
# sum(df1['ad_price'] - df1['offer_bargainTerms_prices_rur']>0)
# sum(df1['ad_price'] - df1['offer_bargainTerms_prices_rur']<0)
np.min((df1['ad_price'] - df1['offer_bargainTerms_prices_rur'])[df1['ad_price'] - df1['offer_bargainTerms_prices_rur']<0 ])
# np.mean((df1['ad_price'] - df1['offer_bargainTerms_prices_rur'])[df1['ad_price'] - df1['offer_bargainTerms_prices_rur']<0 ])
# np.max((df1['ad_price'] - df1['offer_bargainTerms_prices_rur'])[df1['ad_price'] - df1['offer_bargainTerms_prices_rur']<0 ])

# df1.loc[df1.iloc[:,-1] == 1 ,['ad_price','bti_house_priceCian', 'offer_bargainTerms_prices_rur']]

-29576160.0

In [47]:
df1['check_1'] = df1['ad_price'] - df1['offer_bargainTerms_prices_rur']

In [48]:
arr = ['ad_price', 'offer_bargainTerms_price',
       'offer_bargainTerms_prices_eur','offer_bargainTerms_prices_usd', 'check_1']
df1 = df1.drop(arr,1)

In [49]:
arr = ['offer_bargainTerms_saleType',
       'offer_breadCrumbs','offer_building_cargoLiftsCount','offer_building_deadline_isComplete', 'offer_building_deadline_quarter',
       'offer_building_deadline_quarterEnd','offer_building_hasGarbageChute','offer_building_name', 'offer_building_series']
df1 = df1.drop(arr,1)

In [50]:
arr = ['offer_cargoLiftsCount', 'offer_deadline_isComplete',
       'offer_deadline_quarter', 'offer_deadline_quarterEnd', 
      'offer_decoration']
df1 = df1.drop(arr,1)

In [51]:
arr = ['offer_building_deadline_year','offer_deadline_year']
df1 = df1.drop(arr,1)

In [52]:
arr = [ 'offer_description',
       'offer_editDate', 'offer_flatType', 'offer_geo_highways_3_distance', 'offer_geo_highways_3_name', 'offer_geo_jk_displayName',
      'offer_geo_railways_10_name',
       'offer_geo_railways_10_time', 'offer_geo_railways_10_travelType',
       'offer_geo_railways_11_name', 'offer_geo_railways_11_time',
       'offer_geo_railways_11_travelType', 'offer_geo_railways_12_name',
       'offer_geo_railways_12_time', 'offer_geo_railways_12_travelType']
df1 = df1.drop(arr,1)

In [53]:
arr = ['offer_geo_railways_7_name', 'offer_geo_railways_7_time',
       'offer_geo_railways_7_travelType', 'offer_geo_railways_8_name',
       'offer_geo_railways_8_time', 'offer_geo_railways_8_travelType',
       'offer_geo_railways_9_name', 'offer_geo_railways_9_time',
       'offer_geo_railways_9_travelType']
df1 = df1.drop(arr,1)

In [54]:
arr =  ['offer_geo_undergrounds_1_releaseYear', 'offer_geo_railways_1_name', 'offer_geo_railways_1_time',
       'offer_geo_railways_1_travelType', 'offer_geo_railways_2_name',
       'offer_geo_railways_2_time', 'offer_geo_railways_2_travelType',
       'offer_geo_railways_3_name', 'offer_geo_railways_3_time',
       'offer_geo_railways_3_travelType', 'offer_geo_railways_4_name',
       'offer_geo_railways_4_time', 'offer_geo_railways_4_travelType',
       'offer_geo_railways_5_name', 'offer_geo_railways_5_time',
       'offer_geo_railways_5_travelType', 'offer_geo_railways_6_name',
       'offer_geo_railways_6_time', 'offer_geo_railways_6_travelType']
df1 = df1.drop(arr,1)

In [55]:
arr =  ['offer_hasFurniture', 'offer_hasRamp',
       'offer_homeownerProofs']
df1 = df1.drop(arr,1)

In [56]:
# df1 = df1.loc[df1['offer_isApartments']!=0, ].copy()

In [57]:
# df1

In [58]:
df1.groupby('District1').count()

,ad_objectType,bti_district_avgHouseAge,bti_district_districtTitle,bti_district_priceSqm,bti_district_roomRentPrice,bti_house_entrances,bti_house_flatCount,bti_house_floorMax,bti_house_houseMaterialType,bti_house_houseOverlapType,...,offer_title,offer_totalArea,offer_valueAddedServices_isColorized,offer_valueAddedServices_isPaid,offer_valueAddedServices_isPremium,offer_valueAddedServices_isTop3,offer_wcType,offer_windowsViewType,url,pegged_to_cur
District1,,,,,,,,,,,,,,,,,,,,,
ВАО,2906,2435,2435,2435,2435,2402,2396,2423,2789,2789,...,86,2906,2906,2906,2906,2906,0,2279,2906,2906
ЗАО,7485,5380,5380,5380,5380,5131,4958,5351,6816,6816,...,389,7485,7485,7485,7485,7485,1,5310,7485,7485
ЗелАО,417,330,330,330,330,323,320,329,403,403,...,21,417,417,417,417,417,0,295,417,417
НАО,5362,2496,2490,2490,2490,2452,2360,2462,4317,4317,...,204,5362,5362,5362,5362,5362,2,3789,5362,5362
САО,5361,3613,3613,3613,3613,3335,3441,3608,4981,4981,...,189,5361,5361,5361,5361,5361,59,3813,5361,5361
СВАО,4239,2697,2697,2697,2697,2625,2664,2675,3823,3823,...,181,4239,4239,4239,4239,4239,10,2824,4239,4239
СЗАО,3150,2267,2267,2267,2267,2081,2189,2217,2954,2954,...,132,3150,3150,3150,3150,3150,7,2126,3150,3150
ТАО,437,249,249,249,249,246,245,247,407,407,...,26,437,437,437,437,437,0,247,437,437
ЦАО,8572,5876,5876,5876,5876,4735,5445,5760,8110,8110,...,367,8572,8572,8572,8572,8572,10,5468,8572,8572
ЮАО,4853,3373,3373,3373,3373,3248,3348,3370,4516,4516,...,202,4853,4853,4853,4853,4853,8,3394,4853,4853
ЮВАО,4760,3477,3477,3477,3477,3422,3392,3456,4498,4498,...,189,4760,4760,4760,4760,4760,1,3432,4760,4760
ЮЗАО,3899,3440,3440,3440,3440,3353,3272,3391,3778,3778,...,139,3899,3899,3899,3899,3899,0,2918,3899,3899

In [59]:
df1.shape

(51447, 106)

In [73]:
arr =  ['offer_isByHomeowner', 'offer_isFromBuilder',
       'offer_isFromSeller', 'offer_isImported', 'offer_isInHiddenBase']
df1 = df1.drop(arr,1)
arr = ['offer_newbuilding_isFromBuilder', 'offer_newbuilding_isFromDeveloper',
       'offer_newbuilding_isFromLeadFactory', 'offer_newbuilding_isFromSeller',
       'offer_newbuilding_isReliable', 'offer_newbuilding_name',
       'offer_newbuilding_newbuildingFeatures_deadlineInfo']

df1 = df1.drop(arr,1)

In [76]:
# df1

In [78]:
arr = ['offer_newbuilding_house_isFinished',
       'offer_newbuilding_house_isReliable', 'offer_newbuilding_house_name']

df1 = df1.drop(arr,1)

In [81]:
arr = ['offer_newbuilding_newbuildingFeatures_videosCount',
       'offer_newbuilding_showJkReliableFlag', 
       'offer_passengerLiftsCount',
       'offer_promoLabel','offer_publishTerms_autoprolong', 'offer_publishTerms_terms_days',
       'offer_publishTerms_terms_services', 'offer_publishTerms_terms_tariff',
       'offer_publishTerms_terms_type', 'offer_rentByPartsDescription',
       'offer_roomsForSaleCount', 'offer_rosreestrCheck', 'offer_status', 'offer_title','offer_valueAddedServices_isColorized',
       'offer_valueAddedServices_isPaid', 'offer_valueAddedServices_isPremium',
       'offer_valueAddedServices_isTop3', 'offer_wcType' ]
df1 = df1.drop(arr,1)

In [84]:
# df1.columns[:50]
df1.to_csv('cian_df_raw.csv')
# .columns[60:]

In [86]:
df2 = df1.loc[df1['District1'].isin(['САО', 'ЮАО', 'ЦАО']),:]

In [91]:
df2['offer_isApartments'][df2['offer_isApartments'].isna()] = 'unknown'

Series([], Name: offer_isApartments, dtype: object)

In [ ]:
df2['offer_isPenthouse'][df2['offer_isPenthouse'].isna()] = 'unknown'

In [99]:
df2 = df2.loc[df2['offer_isApartments']!=1,:].copy()
df2 = df2.loc[df2['offer_isPenthouse']!=1,:].copy()
# df2.shape

In [105]:
df3 = df2[
[ 'offer_roomsCount','offer_roomType',
  'offer_bargainTerms_prices_rur', 'bti_house_priceCian', 'pegged_to_cur', 
  'offer_building_totalArea', 'offer_totalArea', 'offer_allRoomsArea',
  'offer_livingArea',
  'offer_kitchenArea',
  'offer_geo_coordinates_lat', 'offer_geo_coordinates_lng',
  'offer_geo_undergrounds_1_lineColor', 'offer_geo_undergrounds_1_name',
       'offer_geo_undergrounds_1_travelTime',
       'offer_geo_undergrounds_1_travelType',
       'offer_geo_undergrounds_1_underConstruction',
       'offer_geo_undergrounds_2_lineColor', 'offer_geo_undergrounds_2_name',
       'offer_geo_undergrounds_2_releaseYear',
       'offer_geo_undergrounds_2_travelTime',
       'offer_geo_undergrounds_2_travelType',
       'offer_geo_undergrounds_2_underConstruction',
       'offer_geo_undergrounds_3_lineColor', 'offer_geo_undergrounds_3_name',
       'offer_geo_undergrounds_3_releaseYear',
       'offer_geo_undergrounds_3_travelTime',
       'offer_geo_undergrounds_3_travelType',
       'offer_geo_undergrounds_3_underConstruction', 
   'bti_house_houseMaterialType', 'offer_building_houseMaterialType',  
   'offer_building_materialType', 'bti_house_houseOverlapType',
   'offer_hasPhone',
   'offer_balconiesCount', 'offer_loggiasCount',
   'newObject_status', 'ad_objectType', 'offer_category', 'offer_demolishedInMoscowProgramm',
   'offer_building_buildYear', 'bti_house_yearRelease',
   'bti_house_floorMax', 
   'offer_floorNumber',
   'offer_building_floorsCount',
   'District1', 
   'bti_district_districtTitle',
   'bti_district_avgHouseAge',  'bti_district_priceSqm', 'bti_district_roomRentPrice',         
   'offer_building_ceilingHeight', 
   'offer_repairType',
   'offer_windowsViewType',
   'offer_combinedWcsCount', 'offer_separateWcsCount',
   'bti_house_flatCount', 'bti_house_entrances', 'offer_building_parking_type', 
   'bti_house_lifts', 'offer_building_passengerLiftsCount',
   'offer_isApartments', 'offer_isPenthouse',
   'offer_geo_highways_1_distance', 'offer_geo_highways_1_name',
   'offer_geo_highways_2_distance', 'offer_geo_highways_2_name',      
   'offer_added', 'offer_publicationDate', 
   'offer_newbuilding_newbuildingFeatures_imagesCount',
   'offer_similarOffersCount',
   'offer_bargainTerms_mortgageAllowed',
   'url']
       ]

In [110]:
df3.to_csv('cian_df_medium.csv')

In [ ]:
df3

In [108]:
df2.shape
df3.shape

(15554, 72)

In [127]:
df3.columns

Index(['offer_roomsCount', 'offer_roomType', 'offer_bargainTerms_prices_rur',
       'bti_house_priceCian', 'pegged_to_cur', 'offer_building_totalArea',
       'offer_totalArea', 'offer_allRoomsArea', 'offer_livingArea',
       'offer_kitchenArea', 'offer_geo_coordinates_lat',
       'offer_geo_coordinates_lng', 'offer_geo_undergrounds_1_lineColor',
       'offer_geo_undergrounds_1_name', 'offer_geo_undergrounds_1_travelTime',
       'offer_geo_undergrounds_1_travelType',
       'offer_geo_undergrounds_1_underConstruction',
       'offer_geo_undergrounds_2_lineColor', 'offer_geo_undergrounds_2_name',
       'offer_geo_undergrounds_2_releaseYear',
       'offer_geo_undergrounds_2_travelTime',
       'offer_geo_undergrounds_2_travelType',
       'offer_geo_undergrounds_2_underConstruction',
       'offer_geo_undergrounds_3_lineColor', 'offer_geo_undergrounds_3_name',
       'offer_geo_undergrounds_3_releaseYear',
       'offer_geo_undergrounds_3_travelTime',
       'offer_geo_undergrounds_3_travelType',
       'offer_geo_undergrounds_3_underConstruction',
       'bti_house_houseMaterialType', 'offer_building_houseMaterialType',
       'offer_building_materialType', 'bti_house_houseOverlapType',
       'offer_hasPhone', 'offer_balconiesCount', 'offer_loggiasCount',
       'newObject_status', 'ad_objectType', 'offer_category',
       'offer_demolishedInMoscowProgramm', 'offer_building_buildYear',
       'bti_house_yearRelease', 'bti_house_floorMax', 'offer_floorNumber',
       'offer_building_floorsCount', 'District1', 'bti_district_districtTitle',
       'bti_district_avgHouseAge', 'bti_district_priceSqm',
       'bti_district_roomRentPrice', 'offer_building_ceilingHeight',
       'offer_repairType', 'offer_windowsViewType', 'offer_combinedWcsCount',
       'offer_separateWcsCount', 'bti_house_flatCount', 'bti_house_entrances',
       'offer_building_parking_type', 'bti_house_lifts',
       'offer_building_passengerLiftsCount', 'offer_isApartments',
       'offer_isPenthouse', 'offer_geo_highways_1_distance',
       'offer_geo_highways_1_name', 'offer_geo_highways_2_distance',
       'offer_geo_highways_2_name', 'offer_added', 'offer_publicationDate',
       'offer_newbuilding_newbuildingFeatures_imagesCount',
       'offer_similarOffersCount', 'offer_bargainTerms_mortgageAllowed',
       'url'],
      dtype='object')

In [101]:
df2.to_csv('cian_df_medium.csv')

### check what's left

In [131]:
df2.loc[df2['offer_building_houseMaterialType'] != df2['offer_building_materialType'], ['bti_house_houseMaterialType', 'offer_building_houseMaterialType',
       'offer_building_materialType', 'bti_house_houseOverlapType']]

,bti_house_houseMaterialType,offer_building_houseMaterialType,offer_building_materialType,bti_house_houseOverlapType
10,block,NaN,NaN,concrete
25,none,NaN,NaN,unknown
42,brick,NaN,NaN,wood
45,monolith,NaN,NaN,concrete
50,monolith,NaN,NaN,concrete
...,...,...,...,...
51559,monolith,NaN,NaN,concrete
51563,brick,NaN,NaN,concrete
51564,block,NaN,NaN,mixed
51572,none,NaN,NaN,concrete
51589,monolith,NaN,NaN,concrete

In [130]:
df2.loc[df2['offer_building_houseMaterialType'] != df2['offer_building_materialType'], ['bti_house_houseMaterialType', 'offer_building_houseMaterialType',
       'offer_building_materialType', 'bti_house_houseOverlapType']].isna().sum(0)

bti_house_houseMaterialType           37
offer_building_houseMaterialType    2294
offer_building_materialType         2294
bti_house_houseOverlapType            37
dtype: int64

In [120]:
df1.loc[df1['offer_building_totalArea'] != df1['offer_totalArea'], ['offer_building_totalArea', 'offer_totalArea']].loc[(df1['offer_building_totalArea'] - df1['offer_totalArea'])>0.07,:]

Empty DataFrame
Columns: [offer_building_totalArea, offer_totalArea]
Index: []

In [166]:
df4 = pd.read_csv('cian_df_medium_r.csv', index_col=0)
df4['Group'] = 2

In [167]:
df4['floor1'] = 0 
df4['floor2'] = 0 
df4.loc[df4['NFloor'] == 1, 'floor1'] = 1
df4.loc[df4['NFloor'] == df4['Floors'] , 'floor2'] = 1

In [171]:
df4['Floor'] = 1 
df4.loc[df4['floor1'] == 1, 'Floor'] = 0
df4.loc[df4['floor2'] == 1, 'Floor'] = 0

In [161]:
# df4.loc[df4['NFloor'] > df4['Floors'] , :'floor2']

In [168]:
df4.loc[:,'N':'Zelen']=0

In [169]:
df4.loc[df4['District1'] == 'ЦАО', 'Centr'] = 1
df4.loc[df4['District1'] == 'САО', 'N'] = 1
df4.loc[df4['District1'] == 'ЮАО', 'S'] = 1

In [179]:
# df4['Bal'] = NaN
df4.loc[df4['offer_balconiesCount'] > 0, 'Bal'] = 1
df4.loc[df4['offer_loggiasCount'] > 0, 'Bal'] = 1
df4.loc[(df4['offer_balconiesCount'] == 0) & (df4['offer_loggiasCount'] == 0), 'Bal'] = 0

In [245]:
red_sq_lat = 55.7557
red_sq_lng = 37.6177
df4['lat_null'] = red_sq_lat
df4['lng_null'] = red_sq_lng

In [247]:
import geopy
from geopy import Point
from geopy.distance import distance
from geopy.distance import geodesic 
df4['point_flat'] = df4.apply(lambda row: Point(latitude=row['offer_geo_coordinates_lat'], longitude=row['offer_geo_coordinates_lng']), axis=1)
df4['point_null'] = df4.apply(lambda row: Point(latitude=row['lat_null'], longitude=row['lng_null']), axis=1)
df4['distance_km'] = df4.apply(lambda row: distance(row['point_flat'], row['point_null']).km, 1 )
df4['distance_km_g'] = df4.apply(lambda row: geodesic(row['point_flat'], row['point_null']).km, 1)

In [220]:
# import math
# df4['lat_rad'] = df4['offer_geo_coordinates_lat'].apply(lambda x: math.radians(x))
# df4['lng_rad'] = df4['offer_geo_coordinates_lng'].apply(lambda x: math.radians(x))
# lat1 = math.radians(red_sq_lat)
# lon1 = math.radians(red_sq_lng)
# df4['lat1'] = lat1
# df4['lon1'] = lon1
# df4['dlat'] = df4['lat_rad'] - lat1
# df4['dlon'] = df4['lng_rad'] - lon1
# R = 6373.0 # radius of the Earth
# df4['a'] = ( df4['dlat'].apply(lambda x: math.sin(x))  / 2)**2 + df4['lat1'].apply(lambda x: math.cos(x)) * df4['lat_rad'].apply(lambda x: math.cos(x)) * (df4['dlon'].apply(lambda x: math.sin(x)) / 2)**2
# df4['b'] = df4['a'].apply(lambda x: math.sqrt(x))/df4['a'].apply(lambda x: math.sqrt(1-x))
# df4['Dist'] = R* 2 * df4['b'].apply(lambda x: math.atan(x))

In [253]:
df4 = pd.read_csv('cian_df_well.csv', index_col=0)

In [257]:
np.unique(df4['bti_house_houseMaterialType'].dropna())

array(['block', 'brick', 'monolith', 'none', 'panel', 'wood'],
      dtype=object)

In [258]:
# df4['Brick'] = 0 
df4.loc[df4['bti_house_houseMaterialType'].isin([ 'brick', 'monolith']), 'Brick'] = 1
df4.loc[df4['bti_house_houseMaterialType'].isin( ['block', 'panel']), 'Brick'] = 0
df4.loc[df4['bti_house_houseMaterialType'].isin( ['wood']), 'Brick'] = 0

In [259]:
np.unique(df4['offer_building_materialType'].dropna())

array(['block', 'brick', 'foamConcreteBlock', 'monolith', 'monolithBrick',
       'old', 'panel', 'stalin', 'wood'], dtype=object)

In [260]:
df4.loc[df4['offer_building_materialType'].isin([ 'brick', 'monolith', 'monolithBrick', 'stalin' ]), 'Brick'] = 1
df4.loc[df4['offer_building_materialType'].isin( ['block', 'panel', 'foamConcreteBlock']), 'Brick'] = 0
df4.loc[df4['offer_building_materialType'].isin( ['wood']), 'Brick'] = 0

In [273]:
df4 = pd.read_csv('cian_df_well_done.csv', index_col=0)

In [274]:
df4.shape # 30 обязательных

(15303, 60)

In [275]:
# sum((df4['offer_isApartments']=='unknown')|(df4['offer_isPenthouse']=='unknown'))
# sum()

In [266]:
sum(df4['offer_roomType'].isna())

9294

In [261]:
df4.to_csv('cian_df_well.csv')

In [ ]:
pd.pivot_table(df1.loc[df1['District1'].isin(['ЮАО', 'САО', 'ЦАО']),['District1', 'ad_price', 'bti_house_houseMaterialType','bti_house_houseOverlapType']], index='bti_house_houseMaterialType', columns=['District1','bti_house_houseOverlapType'], aggfunc='count', dropna=True)

In [61]:
# df1.loc[df1['check_1']!=0,['url','ad_price','offer_bargainTerms_prices_rur',  'check_1']].sort_values('check_1')

In [62]:
# df1 = df1.drop(arr,1)

In [67]:
df1.loc[df1.iloc[:,-1] == 1 ,['ad_price','bti_house_priceCian', 'offer_bargainTerms_prices_rur']]

       ad_price  bti_house_priceCian  offer_bargainTerms_prices_rur
19          NaN           22030000.0                       28017080
33          NaN           54800000.0                       84055837
34          NaN           56090000.0                       83891925
40          NaN          104960000.0                      118051754
49          NaN           56180000.0                       60959129
...         ...                  ...                            ...
51552       NaN           40790000.0                       67046399
51559       NaN           59580000.0                       52301410
51574       NaN           37640000.0                       62635990
51587       NaN           46980000.0                       95789475
51589       NaN           88020000.0                      148992000

[1196 rows x 3 columns]

In [64]:
# df1 = df1.drop( ['date_saved', 'District2', 'ad_breadCrumbs', 'ad_change_time'],1)

In [65]:
cols = cols[1:]

In [66]:
cols = df1.columns.tolist()